[submodule "external/spdlog"]
    path = external/cmake_build/spdlog
    url = https://github.com/gabime/spdlog.git
[submodule "external/tinyobjloader"]
    path = external/cmake_build/tinyobjloader
    url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/imgui"]
    path = external/cmake_build/imgui
    url = https://github.com/ocornut/imgui
